/Library/
/Temp/
/obj/
*.csproj
*.sln
*.suo
*.unityproj
Assets/Editor/*.meta
Assets/Editor/*/*.meta
Assets/Editor/*/*/*.meta
Assets/src/*.meta
Assets/src/*/*.meta
Assets/src/*/*/*.meta
Assets/src/*/*/*/*.meta
Assets/src/*/*/*/*/*.meta
Assets/src/*/*/*/*/*/*.meta